.login-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #d8e4e7 0%, #acdeeb 100%);
}

.login-card {
  background: #f3f8fa;
  padding: 50px;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(240, 204, 204, 0.4);
}

/* Logo Box matching the screenshot */
.logo-box {
  /*background-color: #ced8e9; /* FundzBazar Blue */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.logo-img {
 /* max-width: 100%;*/
  height: 110%;
  width: 120%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  background-color: #f3f0ed;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #3aafd6; /* Cyan Button */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.error-msg {
  color: #df3535;
  font-size: 12px;
  margin-top: 10px;
}

.forgot-text {
  color: #1b1a1b;
  font-size: 13px;
  margin-top: 20px;
  font-weight: bold;
}